@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: content-box;
}

/* Estilos generales */
.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}

/* Estilos de títulos */
h1 {
  @apply text-white mb-4 text-4xl w-1/2 text-center font-semibold;
}
@media (max-width: 740px) {
  h1 {
    @apply mb-4 text-2xl w-3/4;
  }
}

/* Estilos de otros elementos */
h2 {
  @apply text-gray-500 mb-4 text-2xl font-medium;
}

/* ... Otros estilos ... */

.homeSection{
  @apply  w-screen sm:h-[100vh] h-auto  bg-[#EBE9EA] flex overflow-hidden sm:flex-row flex-col  sm:p-0 p-4  sm:py-0 py-24  sm:pb-0 pb-16 justify-center items-center 
}
.homeSectionText{
  @apply sm:w-4/5 h-[100%] flex justify-center items-center  flex-col w-screen 
}
.homeSectionText h1{
  font-family: 'Playfair Display', serif;
  @apply text-gray-900 sm:text-6xl text-4xl sm:text-start font-semibold sm:w-3/6 w-[80%]  text-center
}
.homeSectionText p{
  @apply sm:w-3/6 w-screen sm:p-0 p-4
}
.naranjaText{
  @apply text-[#FE8E1E]
}
.btnPrimary{
  @apply bg-[#FE8E1E] text-white px-4 py-2 rounded-sm mt-4 text-sm sm:text-base
}


.homeSectionImg{
  @apply w-1/3 h-[100%] bg-[#2F4159] relative
}
.homeSectionImg .logo{
position: absolute;
top: 200px; 
left: -300px;
  @apply w-80
}

.homeSectionImg img{
  position: absolute;
  bottom: 50px; 
  left: -100px;
  visibility: collapse;
  @apply sm:visible
  }
  
.homeSectionImg h2{
  font-family: 'Shadows Into Light', cursive;
  @apply text-5xl text-white

}  


.ListDonation{
  @apply w-[100%] sm:h-64 overflow-hidden flex  h-44
}
.MiniCardCont{
  @apply w-1/3 gap-4 h-[100%]  p-8 text-white flex  justify-center items-center sm:flex-row flex-col
}
.MiniCardCont p{
  @apply text-white sm:text-xl font-medium 
}
.MiniCardCont h2{
  @apply text-white sm:text-3xl m-0 font-semibold text-3xl
}
.MiniCardText{
  @apply flex flex-col gap-2
}
.MiniCardIcon{
  @apply text-white text-8xl  sm:block hidden
}
.colorZian{
  background-image:linear-gradient(
    6deg, 
    rgba(30, 173, 154, 0.6) 0%,
    rgba(30, 173, 154, 0.6) 100%
  ), url('https://images.unsplash.com/photo-1534644107580-3a4dbd494a95?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}

.colorRed{
  background-image:linear-gradient(
    6deg, 
    rgba(226, 181, 30,0.6) 0%,
    rgba(226, 181, 30,0.6) 100%
  ),
   url('https://images.unsplash.com/photo-1638526970908-b18e32b0bc42?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}
.colorAmarillo{
  background-image:linear-gradient(
    6deg, 
    rgba(216, 92, 62, 0.6) 0%,
    rgba(216, 92, 62, 0.6) 100%
  ),
   url('https://images.unsplash.com/photo-1599059813005-11265ba4b4ce?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}



.Mision{
  @apply w-[100%] sm:h-96 h-auto flex  justify-center items-center  sm:py-64 py-24
}
.MisionCont{
  @apply sm:w-2/3 flex gap-8 sm:flex-row flex-col sm:p-0 p-8 w-96
}
.MisionText{
  @apply sm:w-2/4 flex-col flex gap-2
}
.color{
  @apply text-[#FE8E1E]
}
.MisionText h3{
  font-family: 'Playfair Display', serif;
@apply text-[#FE8E1E] text-5xl font-bold text-gray-800
}
.MisionImg{
 @apply sm:w-2/4 flex justify-center items-center 
}
.MisionImg img{
  @apply w-[500px] rounded shadow-xl
}



.Proyectos{
  @apply w-screen h-auto flex justify-center items-center sm:pb-0 pb-10
}
.ProyectosCont{
  @apply sm:w-4/5 h-auto sm:p-12 p-4 flex gap-4  w-screen sm:flex-row flex-col-reverse 
}
.ProyectosImg{
  @apply sm:w-2/4 flex gap-4 pt-8  sm:pt-0
}
.ProyectosImg img{
  border-top-left-radius: 50px;
  border-bottom-right-radius: 40px;  
  @apply sm:w-60 shadow-xl  w-52
}
.ProyectosImgDiv{
@apply flex flex-col gap-2
}
.ProyectosText{
  @apply sm:w-2/4 flex flex-col gap-2 sm:p-0 h-auto
}
.ProyectosText h3{
  font-family: 'Playfair Display', serif;
@apply text-[#FE8E1E] text-5xl font-bold text-gray-800
}
.ProyectosText .btn{
@apply w-fit
}


.Donaciones{
  @apply w-[100%] h-auto mt-20 flex shadow
}
.DonacionesCard{
  @apply w-2/3 h-auto p-8 flex-col flex gap-3
}
.DonacionesCardCenter{
  @apply flex flex-col justify-center items-center
}
.DonacionesCard h3{
  @apply text-white text-5xl font-extralight
}
.DonacionesCard p{
  @apply text-white 
}

.colorZianFuerte {
  background-image:linear-gradient(
    6deg, 
    rgba(30, 173, 154, 0.8) 0%,
    rgba(30, 173, 154, 0.8) 100%
  ), url('https://images.unsplash.com/photo-1534644107580-3a4dbd494a95?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}


.colorRedFuerte{
  background-image:linear-gradient(
    6deg, 
    rgba(226, 181, 30,0.8) 0%,
    rgba(226, 181, 30,0.8) 100%
  ),
   url('https://images.unsplash.com/photo-1638526970908-b18e32b0bc42?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  transition: 2s;

}
.colorRedFuerte:hover{
  background-image:linear-gradient(
    6deg, 
    rgba(226, 181, 30,0.9) 0%,
    rgba(226, 181, 30,0.9) 100%
  ),
   url('https://images.unsplash.com/photo-1638526970908-b18e32b0bc42?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  transition: 2s;
}
.colorAmarilloFuerte{
  background-image:linear-gradient(
    6deg, 
    rgba(216, 92, 62, 0.8) 0%,
    rgba(216, 92, 62, 0.8) 100%
  ),
   url('https://images.unsplash.com/photo-1599059813005-11265ba4b4ce?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
}
.btnSecondari{
  transition: 0.5s;
  @apply bg-slate-800 flex w-fit text-white px-4 py-2 shadow-xl rounded-full
}
.btnSecondari:hover{
  transition: 0.5s;
  @apply bg-[#FE8E1E]

}


.Donaciones2{
  @apply w-screen sm:h-[70vh] flex justify-center items-center gap-8 h-auto flex-col sm:flex-row py-24
}
.Donaciones2 h3{
  @apply text-4xl w-80 text-gray-800 font-semibold
}
.ListDonaciones2{
  @apply flex flex-col gap-4
}
.ListDonaciones2 .link{
  border: 1px solid;
  @apply border-gray-800  text-center p-4 rounded shadow
}
.ListDonaciones2 .link:hover{
  border: 1px solid;
  @apply border-transparent  text-center p-4 rounded bg-[#FE8E1E] text-white shadow
}
.ListDonaciones2 .link2{
  @apply border-gray-800  text-center p-4 rounded bg-[#FE8E1E] text-white shadow
}


.Cuidadoresdelacasa{
  @apply w-[100%]  flex sm:h-[80vh] flex-col sm:flex-row
}
.CuidadoresdelacasaText{
@apply sm:w-2/3 w-screen gap-2 sm:h-[100%] bg-[#EBE9EA] flex flex-col justify-center items-center py-10
}
.CuidadoresdelacasaText h3{
  font-family: 'Playfair Display', serif;
  @apply text-gray-900 text-6xl text-start font-semibold sm:w-3/5 sm:p-0 p-4 
}
.CuidadoresdelacasaText h4{
 
  @apply text-[#FE8E1E] text-2xl text-start font-semibold sm:w-3/5 sm:p-0 p-4 
}
.CuidadoresdelacasaText p{
  @apply sm:w-3/5 sm:p-0 p-4 
}
.CuidadoresdelacasaImg{
@apply sm:w-1/3 h-[100%] flex justify-center items-center overflow-hidden  p-10 bg-[#EBE9EA]
}
.CuidadoresdelacasaImg img{
  clip-path: xywh(0 5px 100% 75% round 15% 0);
  @apply rounded shadow 
}


.Layout{
  z-index: 1;
  @apply  w-[100%] h-auto flex bg-[#1c1d1d00] justify-evenly py-4 items-center absolute 
}
.cont-Nav{
  @apply w-2/3 flex 
}
.scroll{
  @apply w-[100%] flex gap-4
}
.nav-link{
  transition: 0.5s;
}
.nav-link:hover{
  transition: 0.5s;
  @apply bg-orange-100 rounded-full p-2
}










.Hitoria{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}
.QuienesSomos{
  @apply w-screen h-auto flex bg-[#EBE9EA] justify-center items-center py-32
}
.QuienesSomos .Text{
  @apply w-2/5 flex flex-col 
}
.QuienesSomos .Text h1{
  /* font-family: 'Playfair Display', serif; */
  @apply text-gray-800 text-5xl font-semibold text-start
}
.QuienesSomos .Text a{
  /* font-family: 'Playfair Display', serif; */
  @apply text-[#FE8E1E] text-start
}
.QuienesSomos img{
  @apply w-96 rounded shadow-xl
}

.NuestraHistoria{
  @apply w-screen overflow-hidden flex flex-col p-40 py-24 m-auto 
}
.NuestraHistoria .ContImgText{
  @apply flex gap-4 justify-center items-center
}
.NuestraHistoria .ContImgText div{
  @apply flex flex-col w-2/4 gap-2
}
.NuestraHistoria .ContImgText img{
  @apply flex flex-col w-2/4  shadow
}
.NuestraHistoria .ContImgText div h2{
  font-family: 'Playfair Display', serif; 
  @apply text-gray-800 text-5xl font-semibold text-start
}

.Actividades{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}

.CursosYCapacitaciones{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  @apply flex pt-20 p-40 gap-4 bg-[#F2F2F2]
}
.CursosYCapacitaciones h1{
  @apply text-gray-800 text-4xl font-medium text-start border-b-[1px] border-gray-300 py-4 w-[100%]
}
.CursosYCapacitaciones .cont{
  @apply flex gap-4
}


.CardMediana{
  @apply w-72 bg-white  shadow-sm
}
.CardMediana img{
  @apply h-1/2
}
.CardMediana div{
  @apply flex flex-col p-4 gap-2 justify-between  h-1/2
}
.CardMediana div h3{
  @apply text-lg font-medium text-gray-900
}
.CardMediana div p{
  @apply text-sm font-normal text-gray-600
}
.CardMediana div .Link{
  @apply bg-sky-500 text-white text-center py-2 rounded
}
.CardMediana div .Link:hover{
  @apply bg-sky-600 text-white text-center py-2 rounded
}
.etiqueta{
  @apply  bg-[#FE8E1E] uppercase w-fit py-1 px-3 text-xs font-semibold rounded-sm absolute mt-2
}