@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    display: flex;
    width: 100%;
    justify-content: center
}

h1{
    @apply text-white mb-4 text-4xl w-1/2 text-center font-semibold;
}
@media (max-width: 740px) {
    h1{
        @apply  mb-4 text-2xl w-3/4;
    }
}
h2{
    @apply text-gray-500 mb-4 text-2xl font-medium;
}
input{
    @apply w-96 p-2 rounded mr-2
}
@media (max-width: 740px) {
    input{
        @apply  w-72 p-1 mr-0 mb-2;
    }

.formHeader{
    display: flex;
    flex-direction: column;

}
}
label{
    @apply text-white ;

}
.labelSubtitle{
    @apply text-gray-500 mb-4 text-lg font-medium; 
}
.input-secondari{
    @apply p-1 rounded mr-2 max-w-fit
}
.btn-primary{
    @apply bg-blue-600 text-white px-4 py-2 rounded-sm shadow-sm;
}
@media (max-width: 740px) {
.btn-primary{
    @apply px-2 py-1 rounded-sm shadow-sm;
}
}
.btn-secondari{
    @apply text-start text-white py-2 rounded-sm ;

}
.filtrosHeader{
    @apply flex  flex-col w-80 gap-0 p-4 ml-0;
}
.filtros{
    @apply flex  flex-col w-80 gap-4 p-4 ml-4;
}
@media (max-width: 768px) {
    .filtros {
        display: none
    }
  }

p{
    @apply text-sm m-0;
}
.div-card {
    @apply bg-white p-4 flex gap-6 rounded-md shadow-xl border-gray-500 border-r-4 border-2;
    /* Estilos responsivos */
    width: 320px; /* Establece un ancho predeterminado */
  }
  
  /* Utiliza clases responsivas para modificar el ancho según el tamaño de la pantalla */
  @media (max-width: 740px) {
    .div-card {
      width: 100%; /* Ancho del 50% en dispositivos con un ancho mayor o igual a 640px (md) */
    }
  }
.div-card:hover{
    @apply border-r-blue-600 border-r-4;
}

.subtitle{
    @apply text-gray-500  text-base mt-1;
}
.cont-auditorias{
    @apply flex flex-col gap-4 m-4  ;
    width: 540px; 
}
@media (max-width: 740px) {
    .cont-auditorias{
        @apply flex flex-col gap-4 m-4  ;
        width: 100%; 
    }
  }
.cont-participantes{
    @apply flex gap-4
}

.option{
    @apply text-blue-500 font-normal text-start p-0 pl-2;
    width: 100%;
}
.option:hover{
    @apply bg-gray-200
}
.cont{
    display: flex;
}
/* Estilos para el contenedor principal */
.cont-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Estilos para las tarjetas */
  .div-card {
    @apply bg-white p-4 flex gap-6 rounded-md shadow-xl;
    width: 520px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  @media (max-width: 740px) {
    .div-card {
        @apply bg-white p-4 flex gap-6 rounded-md shadow-xl;
        width: 320px;
        padding: 10px;
        margin: 10px;
        border: 1px solid #ccc;
        cursor: pointer;
      }
  }
  
  /* Estilos para el modal */
  .modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
  }
  
  /* Estilos para el contenido del modal */
  .modal-content {
    background-color: #fff;
    padding: 29px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:16px;
    color: #444444;
  }
  .modal-colum{
    display: flex;
    gap:16px;
  }
  
  /* Estilos para el botón de cierre del modal */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  .contResult{
    display: flex;
    justify-content: center;
  }